.cb-colorpicker {
    height: 36px;
    position: relative;
    width: 36px;
}
.cb-colorpicker > div {
    background: url("../img/colorpicker/select.png") repeat scroll center center rgba(0, 0, 0, 0);
    height: 30px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 30px;
}