#map-canvas {
    width: 100%;
    height: 100%;
}
.no-margin {
    margin: 0 !important;
}
.table tr td {
    vertical-align: middle;
}
.table tr td:first-child {
    width: 13%;
}
.table tr td:nth-child(2) {
    width: 40%;
}
#cb-form-area {
    position: relative;
    margin-bottom: 10px;
}
#cb-form-loading {
    background: url("../img/ajax-loader.gif") 50% 50% no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: wait;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
#form-steps {
    text-align: center;
    position: relative;
}
#progressbar {
    counter-reset: step;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
    #progressbar li {
        float: left;
        font-size: 14px;
        font-weight: bold;
        list-style-type: none;
        position: relative;
        text-transform: uppercase;
        width: 33.33%;

    }
    #progressbar li.active:before, #progressbar li.active:after {
        background: none repeat scroll 0 0 #EE2D23;
        color: #FFFFFF;
    }
    #progressbar li:before {
        background: none repeat scroll 0 0 threedlightshadow;
        border-radius: 53px;
        box-shadow: 1px 1px 0 0;
        color: #333333;
        content: counter(step, decimal);
        counter-increment: step;
        display: block;
        font-size: 40px;
        line-height: 70px;
        margin: 0 auto 5px;
        width: 70px;
        z-index: 1;
        position: relative;
    }
    #progressbar li:first-child:after {
        content: none;
    }
    #progressbar li:after {
        background: none repeat scroll 0 0 threedlightshadow;
        content: "";
        height: 2px;
        left: -50%;
        position: absolute;
        top: 35px;
        width: 100%;
    }
    #progressbar li.active {
        color: #EE2D23;
    }
    #progressbar a {
        color: #000000;
    }

.reg-page {
    padding: 30px 40px;
}
.single #cb_login_form {
    display: none;
}
.reg-page, .login-page {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 7px #EEEEEE;
    margin: 0 auto;
    overflow: hidden;
}
.reg-header {
    line-height: 1.3;
}
    .reg-header h2 {
        font-size: 30px;
        text-align: center;
    }
    .reg-header h2, .reg-header p {
        margin-bottom: 10px;
    }

#class_details {
    box-shadow: 0px 0px 1px 1px rgb(204, 204, 204);
}
.mini-request {
    margin-right: 10px;
}

.full_width.col-md-12.centered {
    max-width: 604px;
    height: 251px;
    margin-top: 50px;
}
.centered {
    float: none;
    margin: 0 auto;
}

#form-steps {
    margin-top: 50px;
    /*margin-left: 170px;*/
}

.col-md-12.text-right {
    margin-left: -17%;
    margin-bottom: 1%;
}
.btn-link.no-bg {
    background: none;
}


.cb-accordion dl {
  border: none;
}
.cb-accordion dl:after {
  content: "";
  display: block;
  width: 100%;
}

.cb-accordion dd {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
  margin:0;
  padding: 0;
}

.cb-accordion dd h4,
.cb-accordion dd h5 {
	padding-left: 10px;
}

.cb-accordion p {
  padding: 1em 2em 1em 2em;
}

.cb-accordion {
  position: relative;
}


.accordionTitle {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: 700;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #004276 !important;
  -webkit-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
  border: 1px solid #dddddd;
  border-radius: 5px;
  text-indent: 10px;
}
.accordionTitle:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.9em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordionTitle:active {
  background-color: #004276;
  color: #fff !important;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #004276;
  color: #fff !important;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -webkit-transition: max-height 0.5s;
            transition: max-height 0.5s;
  }
}

.accordionItemCollapsed,
.accordionItem.is-collapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation: accordionIn 0.65s normal ease-in-out both 1;
          animation: accordionIn 0.65s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.75s alternate ease-in-out both 1;
          animation: accordionOut 0.75s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

.btn-promo {
	color: #fff !important;
	font-weight: bold !important;
	padding: 5px 12px;
	margin-left:5px;
}


.form-group-cb {
    margin-bottom: 15px;
}

.form-group-cb label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
}

.form-control-cb {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control-cb:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.btn-cb {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-cb:focus, .btn-cb:active:focus, .btn-cb.active:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.btn-cb-cb:hover, .btn-cb:focus {
    color: #333;
    text-decoration: none;
}
.btn-cb:active, .btn-cb.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}